
{% macro results_layout() %}
<!--------- MACRO results_layout() START---------->
<div class="header">
  Show Results As
</div>
<div class="item active overlay-item" onclick="show_results_as_overlay('${filename}')">
  <i class="layer group icon"></i>
  Overlay
</div>
<div class="item side-by-side-item" onclick="show_results_side_by_side('${filename}')">
  <i class="columns icon"></i>
  Side-by-Side
</div>
<div class="divider"></div>
<!--------- MACRO results_layout() END  ---------->
{% endmacro %}


{% macro view_menu(view_menu_results_layout, view_menu_extras) %}
<!--------- MACRO view_menu() START---------->
<div class="menu view-menu">
  {% if view_menu_results_layout -%}
    {{ results_layout() | indent }}
  {%- endif %}
  <div class="item brightness">
    <i class="sun icon"></i>
    Brightness
    <div class="ui slider brightness-slider" style="padding:0px; padding-top:5px;"></div>
    <script> $('.ui.slider').slider({onMove:on_brightness_slider, max:30}).slider('set value', 10); </script>
  </div>
  {% if view_menu_extras -%}
    <div class="divider"></div>
    {{ view_menu_extras | indent }}
  {%- endif %}
</div>
<!--------- MACRO view_menu() END  ---------->
{% endmacro %}



{% macro content_menu(
  callback_on_process        = "",
  callback_edit_segmentation = "",
  callback_apply_corrections = "",
  callback_new_box           = "",
  callback_download          = "",
  view_menu_results_layout   = True,
  view_menu_extras           = ""
) %}
<!--------- MACRO content_menu() START---------->
<div class="ui bottom attached secondary icon menu" style="border-top-width:0px; margin-bottom:0px;">
    <a class="process item" onclick="{{ callback_on_process }}(event)"><i class="play icon"></i></a>

    <div class="ui simple dropdown icon item view-menu-button">
      <i class="eye icon"></i>
      {{ view_menu(view_menu_results_layout, view_menu_extras) | indent(8)}}
    </div>

    {% if callback_edit_segmentation -%}
    <a class="item" onclick="{{ callback_edit_segmentation }}(event)"><i class="pen icon"></i></a>
    {%- endif %}
    {% if callback_apply_corrections -%}
    <a class="item" onclick="{{ callback_apply_corrections }}(event)" data-tooltip="Apply manual corrections" data-position="bottom left">
      <i class="check icon"></i>
    </a>
    {%- endif %}
    {% if callback_new_box -%}
    <a class="item" onclick="{{ callback_new_box }}(event)"><i class="vector square icon"></i></a>
    {%- endif %}
    <a class="disabled download item" onclick="{{ callback_download }}(event)" data-tooltip="Download Result" data-position="bottom left">
      <i class="download icon"></i>
    </a>
    <a class="item help-menu-button"><i class="help icon"></i></a>
</div>
<!--------- MACRO content_menu() END  ---------->
{% endmacro %} {# end content_menu #}
