
{% macro loading_spinner() %}
<!--------- MACRO loading_spinner() START---------->
<div class="loading-message" style="display:flex;justify-content: center;">
  <i class="spinner loading icon"></i>
  Loading...
</div>
<!--------- MACRO loading_spinner() END  ---------->
{% endmacro %}


{% macro results_layout() %}
<!--------- MACRO results_layout() START---------->
<div class="header">
  Show Results As
</div>
<div class="item active overlay-item" onclick="show_results_as_overlay('${filename}')">
  <i class="layer group icon"></i>
  Overlay
</div>
<div class="item side-by-side-item" onclick="show_results_side_by_side('${filename}')">
  <i class="columns icon"></i>
  Side-by-Side
</div>
<div class="divider"></div>
<!--------- MACRO results_layout() END  ---------->
{% endmacro %}


{% macro content_menu(
  button_edit_segmentation = True,
  button_new_box           = True,
  callback_on_process      = "on_process_image",
  view_menu_results_layout = True
) %}
<!--------- MACRO content_menu() START---------->
<div class="ui bottom attached secondary icon menu" style="border-top-width:0px; margin-bottom:0px;">
    <a class="item" onclick="{{ callback_on_process }}(event)"><i class="play icon"></i></a>

    <div class="ui simple dropdown icon item view-menu-button">
      <i class="eye icon"></i>
      <div class="menu view-menu">
        {% if view_menu_results_layout -%}
          {{ results_layout() | indent(12) }}
        {%- endif %}
        <div class="item brightness">
          <i class="sun icon"></i>
          Brightness
          <div class="ui slider brightness-slider" style="padding:0px; padding-top:5px;"></div>
          <script> $('.ui.slider').last().slider({onMove:on_brightness_slider, max:30}).slider('set value', 10); </script>
        </div>
      </div>
    </div>

    {% if button_edit_segmentation -%}
    <a class="item" onclick="console.error(event)"><i class="pen icon"></i></a>
    {%- endif %}
    {% if button_new_box -%}
    <a class="item" onclick="console.error(event)"><i class="vector square icon"></i></a>
    {%- endif %}
    <a class="item" onclick="console.error(event)"><i class="download icon"></i></a>
    <a class="item help-menu-button"><i class="help icon"></i></a>
</div>
<!--------- MACRO content_menu() END  ---------->
{% endmacro %} {# end content_menu #}



{% macro content_image(name, overlay=True) %}
<!--------- MACRO content_image() START---------->
<div class="{{name}} view-box stripes" ondblclick="on_viewbox_dblclick(event)">
  <div class="transform-box set-aspect-ratio-manually" style="transform: matrix(1,0,0,1,0,0)"
        onmousedown="on_transformbox_mousedown(event)"
        onmousemove="on_transformbox_mousemove(event)"
        onwheel    ="on_transformbox_wheel(event)">
    <img class="{{name}}-image unselectable" style="width:100%;" draggable="false">
    {% if overlay -%}
    <img class="result-image-overlay unselectable pixelated"  draggable="false" style="position:absolute; width:100%; height:100%; left:0; top:0; filter:url(#black-to-transparent)" >
    {%- endif %}  
  </div>
</div>
<!--------- MACRO content_image() END---------->
{% endmacro %}



{% set filetable_content %}
<div class="filetable-content" style="display:none">
    {{ content_menu() | indent }}

    {# TODO: move styles to css file #}
    <div class="image-container" style="display:flex; align-items: center; justify-content:space-around; width:100%; height:calc(100vh - 120px);">
        {{ content_image(name="input",  overlay=True)  | indent(8) }}
        {{ content_image(name="result", overlay=False) | indent(8) }}
    </div>
</div>
{% endset %} {# end filetable_content #}



{# actual content of this file #}
<template id="filetable-row-template">
    <tr class="ui title" filename="${filename}">
        <!-- table row -->
        <td>
            <i class="dropdown icon"></i>
            <label>${filename}</label>
        </td>
    </tr>
    <tr style="display:none" filename="${filename}">
        <!-- content -->
        <td class="ui content" style="padding:0px;">
            {{ loading_spinner() | indent(8) }}
            {{ filetable_content | indent(8) }}
        </td>
    </tr>
</template>


{# TODO: put somewhere else #}
<svg height="0">
  <defs>
    <filter id="black-to-transparent">
      <!-- image filter to set alpha=0 where the image is black -->
      <feColorMatrix in="SourceGraphic"
          type="matrix"
          values="1 0 0 0 0
                  0 1 0 0 0
                  0 0 1 0 0
                  1 1 1 0 0" />
     </filter>

     <filter id="white-to-red">
      <feColorMatrix in="SourceGraphic"
          type="matrix"
          values="1 1 1 0 0
                  0 0 0 0 0
                  0 0 0 0 0
                  0 0 0 1 0" />
     </filter>
  </defs>
</svg>

