<link rel="stylesheet" href="css/base_styles.css">
<link rel="stylesheet" href="thirdparty/semantic.min.css">

<script src="thirdparty/jquery-3.4.1.min.js"></script>
<script src="thirdparty/jquery.tmpl.min.js"></script>
<script src="thirdparty/semantic.min.js"></script>
<script src="thirdparty/UTIF.js"></script>

{# TODO: move to a base/ folder #}
<script src="global.js">     </script>
<script src="main.js">       </script>
<script src="file_input.js"> </script>
<script src="accordion.js">  </script>
<script src="settings.js">   </script>
<script src="processing.js"> </script>
<script src="view.js">       </script>
<script src="util.js">       </script>
