<link rel="stylesheet" href="css/base_styles.css">
<link rel="stylesheet" href="thirdparty/semantic.min.css">

<script src="thirdparty/jquery-3.4.1.min.js"></script>
<script src="thirdparty/jquery.tmpl.min.js"></script>
<script src="thirdparty/semantic.min.js"></script>
<script src="thirdparty/UTIF.js"></script>
<script src="thirdparty/jszip.min.js"></script>

{# TODO: move to a base/ folder #}
<script src="base/global.js">     </script>
<script src="base/init.js">       </script>
<script src="base/file_input.js"> </script>
<script src="base/accordion.js">  </script>
<script src="base/settings.js">   </script>
<script src="base/processing.js"> </script>
<script src="base/view.js">       </script>
<script src="base/util.js">       </script>
<script src="base/download.js">   </script>
