<link rel="stylesheet" href="css/base_styles.css">
<link rel="stylesheet" href="thirdparty/semantic.min.css">
<link rel="stylesheet" href="css/box_styles.css">

<script src="thirdparty/jquery-3.4.1.min.js"></script>
<script src="thirdparty/jquery.tmpl.min.js"></script>
<script src="thirdparty/semantic.min.js"></script>
<script src="thirdparty/UTIF.js"></script>
<script src="thirdparty/jszip.min.js"></script>


<script src="base/file_input.js"> </script>
<script src="base/image_loading.js">  </script>
<script src="base/settings.js">   </script>
<script src="base/detection.js">  </script>
<script src="base/view.js">       </script>
<script src="base/util.js">       </script>
<script src="base/download.js">   </script>
<script src="base/training.js">   </script>
<script src="base/boxes.js">      </script>
<script src="base/sorting.js">    </script>
<script src="base/app.js">        </script>
