
{% macro top_menu(app) %}

<div class="ui container menu" style="width:calc(100% - 40px);">  <!--TODO: add css class-->

    <div class="ui simple dropdown item">
        <span class="text">Files</span>
        <i class="dropdown icon"></i>
        <div class="ui menu">
          <label for="input_images" class="ui icon item">
            <i class="images outline icon"></i>
            Load Input Images
          </label>
          <input type="file" id="input_images" style="display:none"
                 onchange="{{ app }}.FileInput.on_inputfiles_select(event)" accept="image/*, application/zip, application/x-zip-compressed" multiple>
          
          <label for="input_folder" class="ui icon item">
            <i class="folder outline icon"></i>
            Load Input Folder
          </label>
          <input type="file" id="input_folder" style="display:none" 
                 onchange="{{ app }}.FileInput.on_inputfolder_select(event)"  webkitdirectory directory multiple>
      </div>
    </div> <!--End dropdown menu-->

    
    <div class="ui secondary right menu">
      <div class="item">
        <div class="ui buttons">
          
          <label class="ui button" onclick="{{ app }}.Settings.on_settings()"
                id="settings-button" data-tooltip="Settings" data-position="bottom center">
            <i class="wrench icon"></i>
          </label>
          
        </div>
      </div>
  </div>
  

</div>

{% endmacro %}
