{% macro training_filetable() %}
<table class="ui basic celled sortable unstackable table accordion" id="training-filetable" style="grid-row: 1 / 3">
    <thead>
      <tr>
        <th>
          <!--<div class="ui checkbox">
            <input type="checkbox" name="example">
          </div>-->
        </th>
        <th>Selected files for training</th>
      </tr>
    </thead>
    <tbody>
      {#  "training-filetable-row" inserted here from javascript  #}
    </tbody>
</table>

<script>
  //init checkboxes
  //new MutationObserver
</script>
{% endmacro %} {# training_filetable #}

{% macro training_controls(callback_start_training="") %}
<div class="ui segment" style="margin-top:0px;">
    <label class="ui violet fluid button" onclick="{{callback_start_training}}()" id="start-training-button" style="margin-bottom: 20px;">
      <i class="shuffle icon"></i>
      Start Training
    </label>

    <!--<div class="ui progress">
      <div class="bar">
        <div class="progress"></div>
      </div>
      <div class="label">Uploading Files</div>
    </div>-->
</div>
{% endmacro %} {# training_controls #}


{% macro training_tab(app) %}
<div style="display:grid; height:200px; grid-template-columns: 50% 50%; grid-column-gap: 5px; align-items: start;">
    
    {{ training_filetable() }}
    {{ training_controls(callback_start_training = app+".Training.on_start_training") }}
    
</div>


<template id="training-filetable-row">
  <tr filename="${filename}">
    <td>
      <div class="ui checkbox">
        <input type="checkbox" name="select-file" checked>
        <label></label>
      </div>
    </td>
    <td>${filename}</td>
  </tr>
</template>
{% endmacro %}
