<!--{{warning}}-->
<html>
<head>
    <title>{% block htmltitle %}Base UI{% endblock %}</title>

    <link rel="stylesheet" href="css/base_styles.css">
    <link rel="stylesheet" href="thirdparty/semantic.min.css">

    <script src="thirdparty/jquery-3.4.1.min.js"></script>
    <script src="thirdparty/jquery.tmpl.min.js"></script>
    <script src="thirdparty/semantic.min.js"></script>
    <script src="thirdparty/UTIF.js"></script>

    <script src="global.js">     </script>
    <script src="main.js">       </script>
    <script src="file_input.js"> </script>
    <script src="accordion.js">  </script>
    <script src="settings.js">   </script>
    <script src="processing.js"> </script>
    <script src="util.js">       </script>
    {% block scripts %}{% endblock%}

    {% include  'base_js_templates.html' %}
    {% block    js_templates %}
      <!--TODO:  <template> -->
    {% endblock js_templates %}

</head>





<body onload="init()">

{% include ['top_menu.html', 'base_top_menu.html'] %}

<div class="ui container" style="width:calc(100% - 40px); padding-bottom:50vh;"> <!--TODO: move to own file--> <!--TODO: add css class-->

    {% block tabs %}{% endblock %}

    {% block main_table %}

    <table class="ui basic celled sortable unstackable table accordion" id="filetable">
        <thead>
          <tr>
            <th>No Files Loaded</th>
          </tr>
        </thead>
        <tbody>
        </tbody>
    </table>

    {% endblock main_table %}
    
</div> <!--main container end-->

<!--TODO: add footer and make it sticky-->


{% block    modals %}
  {% include 'base_modals.html' %}
{% endblock modals %}



</body>
</html>