{% set loading_spinner %}
<div class="loading-message" style="display:flex;justify-content: center;">
    <i class="spinner loading icon"></i>
    Loading...
</div>
{% endset %}


{% set content_menu %}
<div class="ui bottom attached secondary icon menu" style="border-top-width:0px; margin-bottom:0px;">
    <a class="item" onclick="on_process_image(event)"><i class="play icon"></i></a>

    <a class="item view-menu-button" data-position="bottom left">
      <i class="eye icon"></i>
    </a>
    <div class="ui popup view-menu-popup">
      <div class="ui disabled checkbox">
        <input type="checkbox">
        <label>Check</label>
      </div>
    </div>
    <script>$('.view-menu-button').last().popup({hoverable:true});</script>
    <script>$('.checkbox').last().checkbox();</script>

    <a class="item" onclick="console.error(event)"><i class="download icon"></i></a>
</div>
{% endset %} {# end content_menu #}




{% set filetable_content %}
<div class="filetable-content" style="display:none">
    {{ content_menu }}

    {# TODO: move styles to css file #}
    <div style="display: flex; align-items: flex-start; justify-content: center;">
      
      {# TODO: try to remove this div, move styles to the previous one #}
      <div class="input-image-container stripes" style="width:100%; height:calc(100vh - 120px); display: flex; justify-content: center; align-items: center;">
        <div class="set-aspect-ratio-manually" style="width:100%; max-width: calc( (100vh - 120px) * var(--imagewidth) / var(--imageheight) );"> {# width/height set in javascript #}
          <img class="input-image unselectable" style="width:100%;">
        </div>
      </div>

      <div class="result-image-container stripes" style="width:100%; height:calc(100vh - 120px); display: flex; justify-content: center; align-items: center; display:none;">
        {# FIXME: .input-image only temporary for testing #}
        <div class="set-aspect-ratio-manually" style="width:100%; max-width: calc( (100vh - 120px) * var(--imagewidth) / var(--imageheight) );">
          <img class="result-image input-image unselectable pixelated" style="width:100%; filter:contrast(0.0);">
        </div>
      </div>
      
    </div>
</div>
{% endset %} {# end filetable_content #}




<template id="filetable-row-template">
    <tr class="ui title" filename="${filename}">
        <!-- table row -->
        <td>
            <i class="dropdown icon"></i>
            <label>${filename}</label>
        </td>
    </tr>
    <tr style="display:none" filename="${filename}">
        <!-- content -->
        <td class="ui content" style="padding:0px;">
            {{ loading_spinner }}
            {{ filetable_content }}
        </td>
    </tr>
</template>


