<!--{{warning}}-->

{% import 'base/js_templates.html' as js_templates %}
{% from 'base/top_menu.html'       import top_menu %}
{% from 'base/main_container.html' import main_container %}

<html>
<head>
    <title>DigIT Base UI</title>
    {# TODO: indent #}
    {% include 'base/scripts.html'   %}

    {{ js_templates.filetable_row_template(app="BaseApp") }}
</head>


<body onload="init()">

    {{ top_menu(app="BaseApp") }}

    {{ main_container(app="BaseApp") }}

    {% include 'base/modals.html'          %}

    {# TODO: footer #}

</body>
</html>
