<!--{{warning}}-->

{% import 'base/js_templates.html' as js_templates %}
{% import 'base/top_menu.html'     as top_menu %}

<html>
<head>
    <title>DigIT Base UI</title>
    {# TODO: indent #}
    {% include 'base/scripts.html'   %}

    {{ js_templates.filetable_row_template(app="BaseApp") }}
</head>


<body onload="init()">

    {{ top_menu.top_menu(app="BaseApp") }}

    {% include 'base/main_container.html' %}

    {% include 'base/modals.html'          %}

    {# TODO: footer #}

</body>
</html>
